body{
    background-color: #0079BF;
}

.navbar {
    padding: 0px !important;
}

header {
    width: 100%;
    position: fixed;
}

.contenedor{
    background-color: #0067A3;
}
.imagen{
    margin-left: 316px;
}

.lista{
    margin-top: 37px;
    margin-left: 10px;
    position: relative;
    background-color: #006AA8;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: whitesmoke;
    top: 0px;
    display: inline-block;
}

.lista:hover{
    background-color: #005586;
}
.cross{
        color: grey;
    font-size: 20px;
    margin-left: -10px;
    margin-top: 4px;
}

}
.icon-cross{
      color:grey;
    padding-top: 13px;
    padding-left: 120px;
    font-size: 20px;
}
.caja{
    position: relative;
    text-align: center;
    background-color: #E2E4E6;
    width: 230px;
    top: 36px;
    border-radius: 5px;
    box-sizing:border-box;
    display: inline-block;
    cursor: pointer;
}

.btn1 {
   margin-top:10px;
    margin-left: 15px;
    width:100px;
    height:30px;
    background-color:#5DB349; 
    color:white;
    border:2px solid #5DB349;
    border-radius:5px; 
    margin-bottom: 10px;
    float:left;
}
.tablero{
    background-color: #4892BD;
    border:2px solid #4892BD;
    border-radius:3px;
    color: white;
}
.inputl { 
    position: relative;
    top: 0;
    border: 1px solid #B5B6B7;
    background-color: #D7D9DB;
    box-shadow: 3px 3px 3px 3px #ccc inset;
    width: 200px;
    margin: 8px;
    height: 30px;
    color: black;
}

.inputl:hover { 
    position: relative;
    border: 1px solid #B5B6B7;
    background-color: #E2E4E6;
    box-shadow: 3px 3px 3px 3px #ccc;
    color: black;
}

.menu {
    background-color: #276787;
    text-align: center;
}

.trell{
    margin-left: 10px;
    white-space: nowrap;
    padding-top: 42px;
}

.tarjeta{
    position: relative;
    top: 26px;
    width: 250px;
    background-color:#E2E4E6;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}
.enlace{
    color:blue;
}
.estil-h5{
    padding-top: 20px; 
}
.tarjetaArea{
    position: relative;
    top: 0;
    width: 250px;
    height: 100px;
    background-color:#E2E4E6;
    border-radius: 5px;
    text-align: center;
    display: block;
}
.botonAr{
    margin-top: 2px;
    margin-left: 15px;
    width:100px;
    height:30px;
    background-color:#5DB349; 
    color:white;
    border:2px solid #5DB349;
    border-radius:5px; 
    float:left;
    margin-bottom: 9px;
}
.textAre{
    width: 225px;
    border-radius: 4px;
    margin: 14px;
    display: block;

}
.nombreCarta{
    background-color: white;
    width: 230px;
    margin: 9px;
    padding: 4px;
    border-radius: 4px;
}
.over {
  border: 3px solid #E2E4E6;
  background-color:#0079BF;
}
.opacity{
    background-color: rgba(76, 105, 212, 0.4);
    background: rgba(76, 105, 212, 0.4);
     color: black;
}
.oculta{
    display: none;
}